<h5>Edit customer</h5>
<hr/>
<button class="btn btn-success" (click)="onNewCustomerClick()">New customer</button>
<hr />
<form (ngSubmit)="saveCustomer()" #customerForm="ngForm">
    <div class="form-group">
        <label>First name:</label>
        <input type="text" class="form-control" name="firstName" [(ngModel)]="customer.firstName">
    </div>
    <div class="form-group">
        <label>Last name:</label>
        <input type="text" class="form-control" name="lastName" [(ngModel)]="customer.lastName">
    </div>
    <div class="form-group">
        <label>Age:</label>
        <input type="number" class="form-control" name="age" [(ngModel)]="customer.age">
    </div>
    <hr>
    <button class="btn btn-primary" type="submit">Save</button>
</form>